$$$IMPORTS$$$

public class $$$CLASSNAME$$$ implements Rule
{

    @Override public String toString()
    {
        return "$$$NAME$$$";
    }

    @Override public boolean test(Task task)
    {
        $$$TEST$$$
    }
}
