$$$IMPORTS$$$

public class $$$CLASSNAME$$$ $$$EXTENDS$$$ implements CompletionBehavior$$$IMPLEMENTATIONS$$$
{

    @Override public String toString()
    {
        return "$$$NAME$$$";
    }

    $$$CODE$$$
}
